<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Käyttäjt</title>
        <!--Lisätään Bootstrapin tarvitsemat rimpsut, ja mistä tyylit ladatan-->
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <h2><a href="/">Foorumi</a> -- Foorumin käyttäjät</h2>

            <div th:if="${kayt_id}">Nimimerkki: <a href="linkki" th:href="@{~/kayttaja/{id}(id=${kayt_id.id})}">
                    <span th:text="${kayt_id.nimi}">Kayttajan nimi</span></a> 
                <form method="POST" action="/">
                    <input type="hidden" name="poistacookie" value="kylla"/>
                    <input type="submit" value="Kirjaudu ulos"/>
                </form>
            </div>
            <span th:unless="${kayt_id}">Et ole kirjautunut sisään.</span>

            <h3>Käyttäjät</h3>

            <div class="row" th:each="kayttaja : ${kayttajat}">
                <div class="col-sm-4" style="background-color: lavender"><h4 th:text="${kayttaja.nimi}">Käyttäjän nimi</h4></div>
                <div class="col-sm-1" th:if="${moderaattori}"> <h4 th:text="${kayttaja.kayttajataso}">käyttäjätaso</h4></div>
                <div class="col-sm-1" th:if="${moderaattori}">
                    <form class="form-inline" method="POST" th:action="@{~/kayttajataso/{id}(id=${kayttaja.id})}">
                        <div class="form-group">
                            <label for="sel1"></label>
                            <select class="form-control" id="sel1" name="valinta">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <input type="submit" class="btn-primary" value="change"/>
                        </div>
                    </form>
                </div>
            </div>
            
            <br/>
            <br/>
            <button type="button" onclick="location.href = '/'">Palaa etusivulle</button>
            
        </div>
    </body>
</html>