<!DOCTYPE html>

<html>
    <head>
        <title>Seikkailu Suomen parhaalla foorumilla</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2>Tervetuloa netin dynaamisimmalle keskustelupalstalle.</h2>
        <p>1. Aloitetaan kiertue. Etusivulta näätkin, että kissakerhossa on meneillään intensiivistä keskustelua</p>
        <p>2. Suunnista katsomaan mitä kissoista puhutaan</p>
        <p>3. Faulknerin keskustelunavaukseen onkin jo antanut oman mielipiteensä käyttäjä Pekka. Pekan kommentti oli niin sopimaton, 
            että hänet on suorilta bannattu</p>
        <p>4. Haluatkin varmaan jo ottaa osaa keskusteluun. Palaa takaisin etusivulle ja luo tunnukset painamalla linkkiä "luo uusi käyttäjä"
            ja antamalla tietosi</p>
        <p>5. Nyt sinun tarvii vielä kirjautua etusivulla antamalla luomasi tunnuksen ja salasanan. Saat vastineeksi evästeen, jolla pysyt 
            kirjautuneena</p>
        <p>6. Suuntaa takaisin Faulknerin keskusteluun ja anna mielipiteesi kissoista. Tuntuu varmasti hyvältä, eikö?</p>
        <p>7. Keskustelun ovat löytäneet trollit, jotka ovat tulleet postaamaan eeppisiä internet-meemuja. Paina siis "Valtaa alue" nappulaa.</p>
        <p>8. Pyydät foorumin jumalilta apua. Kirjaudu sisään tunnuksilla "master/master" ja suuntaa "Luo uusi käyttäjä" sivulle</p>
        <p>9. Nyt näet kaikki foorumin käyttäjät. Vaihda oma käyttätasosi arvoon 2. Nyt olet maailman valtias</p>
        <p>10. Kirjaudu takaisin omalla tunnuksellasi, ja suuntaa jakamaan oikeutta takaisin kissa-keskusteluun</p>
        <p>11. Näet, että käytössäsi on BANHAMMER nappula, joka bannaa viestin lähettäjän. Bannaa koko roskasakki.</p>
        <p>12. Trollit yrittävät takaisin. Paina "valtaa alue" nappulaa uudestaan. Ei taida onnistua?</p>
        <p>13. Olet kyllästynyt kissoihin. Poista yksittäisiä viestejä, koko keskustelu, tai vaikka koko alue.</p>
        <p>14. Olet kyllästynyt internettiin. Palaa "luo uusi käyttäjä" -sivulle, ja bannaa itsesi asettamalla käyttäjätasoksesi 0</p>
        <p>15. Huomaat, että et voi enää tehdä mitään. Game over.</p>
        
    </body>
</html>
